body 
{
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt 
{
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea 
{
    max-width: 280px;
}


#map 
{
    height: 760px;
}

.navbar-marine 
{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084);
    background-color: #ffffff;
    height: 80px;
    padding-top: 10px;
}


a 
{
    color: #2457c4;
    text-decoration: none;
}

.leaflet-top 
{
    top: 25px!important;
}

.page-container
{
    padding-top: 60px;
    min-height: 600px;
}

label-marine {
    background-color: #2457c4!important;
    color: #ffffff;
}



.navbar-marine 
{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084);
    background-color: #ffffff;
    height: 65px;
    padding-top: 10px;
}

.navbar-brand 
{
    background: url('Images/marine-logo.jpg') no-repeat top left;
    display: block;
    height: 130px;
    text-indent: -9999px;
    font-size: 28px;
    font-weight: 700;
}


.ui-datepicker {
    background-color: white;
    padding: 10px!important;
}



.btn-marine
{
background-color:#45CE2A;
border-color: #45CE2A;
color: #ffffff;
}

.btn-marine:hover
{
background-color:#2457c4;
border-color: #2457c4;
color: #ffffff;
}



.disclaimer-h2 {
    margin-top: 40px;

}

.justify {
    text-align: justify;
}

.search-breadcrumb
{
margin-bottom: 0px;
}

.your-query {
    color: #2457c4;
    font-weight: 700;
}

.crumb {
    color: #2457c4;
    font-weight: 700;
}

.searchbox-h2{
     margin-top: 0px; 
     text-align:center; 
     color:#2457c4!important; 
     font-weight: 700;
}

.searchbox-p {
    text-align: center;
    font-weight: 200;
}



@media print {
    * {
        margin: 0;
        padding: 0;
        line-height: 1.4em;
        word-spacing: 1px;
        letter-spacing: 0.2px;
        font: 10px Arial, Helvetica,"Lucida Grande", serif;
        color: #000;
    }
}