

@{
    ViewBag.Title = "Marine HABs Map | Shellfish Harvesting Areas Status";
}

<div class="alert alert-warning alert-no-network" style="display:none; margin-bottom: 0px; margin-top: 15px; text-align: center;"></div>
<!-- Map of Ireland LeafletJS-->
<div id="map"></div>
