
@model IEnumerable<HABsMap.Models.StatusModel>
@{
    ViewBag.Title = "Marine HABs Map | Shellfish Harvesting Areas Status";
}

<div class="alert alert-warning alert-no-network" style="display:none; margin-bottom: 0px; margin-top: 15px; text-align: center;"></div>
<!-- Map of Ireland LeafletJS-->
<div id="map"></div>s



<!--
@using (Html.BeginForm("GetMapMarkers", "Status", FormMethod.Post, new { @class = "form-inline" }))
{
    <label for="enter location name">Select a Location:</label>
                    <div class="form-group">
                        @Html.DropDownList("areaname", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-marine">Search Areas</button>
}

    -->
