
@{
    ViewBag.Title = "Disclaimer and Copyright Information";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2 style="margin-top: 40px;">Disclaimer and Copyright Information</h2>

            <h3>Copyright Information</h3>

            <p style="text-align:justify">
                The data displayed on the Harmful Algal Blooms Web Search is from published reports of the
                results of samples analysed under the National Marine Biotoxin Monitoring Programme.
                The data contained in these reports are copyright of the Marine Institute, Ireland and
                are subject to the Re-use of Sector Information Regulations 2005 (SI 279 of 2005).
                You must acknowledge the source and our copyright in cases where you supply information to others.
                Where the data is subject to reinterpretation in published formats we request authors to contact
                the Section Manager at Marine Institute Seafood Safety Unit for appropriate permissions.
                The Marine Institute encourages the re-use of our information but retains copyright on
                our data published on this website.
            </p>

            <h3>Important Notes Regarding the Status of Production Areas</h3>

            <p>Once a report is published it automatically appears on this website.</p>

            <p style="text-align:justify">
                The status assigned to each production area for the harvesting of shellfish
                follows the guidelines as contained in "The Irish Shellfish Monitoring Programme Code of Practice"
                issued by the Food Safety Authority of Ireland. The status assigned for each area is species specific.
            </p>

            <p>However it is important to note that the status assigned to each production area displayed on this website may not accurately reflect its current status at the time of viewing. This can occur in 2 ways:</p>

            <ol>
                <li style="text-align:justify;">
                    The status assigned to each production area is based on the results of the last sample(s)
                    submitted from that area (an area may have more than 1 production site and may harvest more than species).
                    If an area does not submit a sample during the required testing frequency,
                    the area is considered as Closed Pending. This may not be reflected on this website
                    which displays status assigned only for the results of the last sample submitted.
                    The required frequency testing of samples is dependent on time of year/species harvested
                    (Typically a sample should be submitted if an area is actively harvesting once a week during
                    High Risk Toxicity periods or depending on species harvested once a month during
                    Low Risk Toxicity periods i.e. C.gigas & O.edulis). If an area is not actively harvesting
                    there is no requirement to submit a sample.
                </li>
                <li style="text-align:justify;">
                    A production area may have more than one site harvesting the same species.
                    In this case the correct status for the area is for the site within that area
                    that has the most recent sample date.
                </li>
            </ol>

        </div>
    </div>
</div>