@{
    ViewBag.Title = "Search Location Samples";
}


<div class="container page-container">
    <div ng-app="SampleApp" class="row">
        <div ng-controller="SampleController">
            <input type="text" class="form-control" placeholder="Search Samples (Location, Species etc.)" ng-model="searchSamples" /> <br />
            <span class="label label-marine" style="background-color: #2457c4;">Ordered By: {{orderByField}}, Reverse Sort: {{reverseSort}}</span>
            <br />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <a href="#" ng-click="orderByField = 'Location'; reverseSort = !reverseSort">
                                Location <span ng-show="orderByField == 'Location'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="orderByField='Status'; reverseSort = !reverseSort">
                                Status<span ng-show="orderByField == 'Status'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="orderByField='Date'; reverseSort = !reverseSort">
                                Sample Date <span ng-show="orderByField == 'Date'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="orderByField='Species'; reverseSort = !reverseSort">
                                Species<span ng-show="orderByField == 'Species'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="orderByField='ASP'; reverseSort = !reverseSort">
                                ASP <span ng-show="orderByField == 'ASP'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="orderByField='PSP'; reverseSort = !reverseSort">
                                PSP <span ng-show="orderByField == 'PSP'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="orderByField='DSP'; reverseSort = !reverseSort">
                                DSP <span ng-show="orderByField == 'DSP'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="orderByField='AZP'; reverseSort = !reverseSort">
                                AZP <span ng-show="orderByField == 'AZP'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tr ng-repeat="s in samples | filter : searchSamples |orderBy:orderByField:reverseSort">
                    <td>{{ s.Location}}</td>
                    <td>{{ s.Status}}</td>
                    <td>{{s.Date}}</td>
                    <td>{{ s.Species}}</td>
                    <td>{{ s.ASP}}</td>
                    <td>{{ s.PSP}}</td>
                    <td>{{ s.DSP}}</td>
                    <td>{{ s.AZP}}</td>

                </tr>
            </table>
        </div>
    </div>
</div>


